@use "vendor/frappe" as palette;

@forward "colors";

html:after {
  content: "Catppuccin Epitech Intranet";
  position: absolute;
  left: 0;
  bottom: 0;
  margin: .5rem;
  color: palette.$text;
  font-size: .8rem;
};
